.site-footer {
	position: relative;
    @include font-size(8, mobile, true, true, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, true, true);
        }
    }
    color: color(typography, 3);
	background-color: color(typography, 1);
    a {
        @include anchor-aspect(footer);
    }
}

.site-footer-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
    justify-content: center;

	&.has-top-divider {

		&::before {
			background: color(typography, 2);
			background: linear-gradient(to right, rgba(color(typography, 2), .1) 0, rgba(color(typography, 2), .6) 50%, rgba(color(typography, 2), .1) 100%);
		}
	}
    .footer-brand{
        a{
            img{
                max-width: 104px;
            }
        }
    }
    @media (max-width: 641px){
        flex-direction: column;
        gap: 10px;
        .footer-social-links{
            li{
                a{
                    padding: 0;
                }
            }
        }
        .footer-copyright{
            order: 3;
        }
    }
}

.footer-copyright{
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: .7;
}

.footer-brand,
.footer-links,
.footer-social-links {
    margin-bottom: 0;
}

.footer-links,
.footer-social-links {

    li {

        + li {
            margin-left: 16px;
        }
    }
}

.footer-social-links {

    li {
        display: inline-flex;

        a {
            padding: 8px;
        }
    }
}

@include media( '>medium' ) {

    .site-footer-inner {
        justify-content: space-between;
    }
    .footer-brand {
        justify-content: flex-start;
    }

    .footer-links,
    .footer-social-links {
        justify-content: flex-end;
    }

    .footer-links {
        order: 1;
        margin-bottom: 0;
    }
}
