.site-header {
    position: relative;
    padding: 24px 0;
}

.header-shape {
	position: absolute;
}

.header-shape-1 {
	display: none;
	top: 0;
}

.header-shape-2 {
	top: -40px;
	right: 10%;
	@media (max-width: 475px){
		display: none;
	}
}

.site-header-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
	.header-brand{
		a{
			img{
				max-width: 130px;
			}
		}
	}
	.links{
		display: flex;
		align-items: center;
		gap: 30px;
		list-style: none;
		margin: 0;
		padding: 0;
		a{
			text-transform: uppercase;
			letter-spacing: 0.03em;
			font-size: 14px;
			font-weight: 500;
			color: #000000;
			transition: all .3s ease-in-out;
			&:hover{
				text-decoration: none;
				color: #528BC0;
			}
		}
	}
	@media (max-width: 641px){
		justify-content: center;
		.links{
			display: none;
		}
	}
}

.header-links {
    display: inline-flex;

    li {
        display: inline-flex;
    }

    a:not(.button) {
        @include font-size(7, mobile, true, true, true);
        @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
            @include media( '>medium' ) {
                @include font-size(7, desktop, true, true, true);
            }
        }
        @include font-weight(bold);
        @include anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

@include media( '>medium' ) {

	.header-shape-1 {
		display: block;
		right: 0;
	}

	.header-shape-2 {
		top: -92px;
		left: auto;
		right: 40%;

		svg {
			width: 220px;
			height: 220px;
		}
	}
}

@include media( '>large' ) {

	.header-shape-1 {
		left: auto;
		right: 0;
	}

	.header-shape-2 {
		left: auto;
		right: 40%;
	}

}
