.testimonials {
	position: relative;
	padding: 100px 0 150px;

	.section-inner {
		padding-top: 0;
	}

    .section-title {
        margin-bottom: 72px;
    }

	@media (max-width: 641px){
		padding: 100px 0;
	}
}

.testimonials-shape {
	position: absolute;
}

.testimonials-shape-1 {
	bottom: 40px;
	left: calc(50% - 80px);
}

.testimonials-shape-2 {
	top: 180px;
	left: calc(50% + 30px);
}

.testimonials-shape-3 {
	display: none;
}

.testimonials-wrap {
    display: flex;
    flex-wrap: wrap;
	// align-items: flex-start; // disables equal height boxes
    justify-content: center;
	margin-right: -16px;
    margin-left: -16px;

    &:first-child {
        margin-top: -16px;
    }

    &:last-child {
        margin-bottom: -16px;
    }
}

.testimonial {
	position: relative;
    padding: 44px 16px 16px;
	width: 388px;
    max-width: 388px;
    flex-grow: 1;
}

.testimonial-inner {
    position: relative;
	// height: 100%;
    // display: flex;
    // flex-wrap: wrap;
    background: color(bg, 1);
    padding: 52px 24px 15px;

    > * {
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include shadow;
        mix-blend-mode: multiply;
		pointer-events: none;
    }
	&.user{
		border: 1px dashed #00000050;
		transition: all .3s ease-in-out;
		.link-user{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&.hover{
			border: 1px dashed #565678;
			.testimonial-header{
				&.user{
					border: 1px dashed #565678;
					img{
						opacity: .8;
					}
				}
			}
			.testimonial-footer {
				a{
					&.button{
						border: 1px dashed #565678;
						color: #565678 !important;
					}
				}
			}
		}
	}
}

.testimonial-main {
	position: relative;
}

.testimonial-header {
	position: absolute;
	top: -80px;

	img {
		width: 56px;
		height: auto;
		border-radius: 50%;
		@include shadow-sm;
	}
	&.user{
		background-color: #fff;
		border-radius: 50%;
		width: 56px;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 10px #00000020;
		border: 1px dashed #00000050;
		transition: all .3s ease-in-out;
		img{
			width: 45px;
			margin: 0;
			opacity: .5;
			transition: all .3s ease-in-out;
		}
	}
}

.testimonial-footer {
    align-self: flex-end;
}

.testimonial-footer {
	@include font-weight(medium);
	margin-top: 15px;
	margin-bottom: 12px;
	a{
		&:hover{
			text-decoration: none;
		}
		&.button{
			position: relative;
			z-index: 1;
			font-size: 13px;
			padding: 10px 22px 12px;
			height: 36px;
			border: 1px dashed #00000050;
			background-color: #ffffff00;
			color: #00000050 !important;
			transition: all .3s ease-in-out;
		}
	}
}

@include media( '>medium' ) {

	.testimonials {

		.section-inner {
			padding-bottom: 0; /* 126+40px second column offset */
		}

	    .section-title {
	        margin-bottom: 50px;
	    }
	}

	.testimonials-wrap {
		margin-right: -24px;
	    margin-left: -24px;

	    &:first-child {
	        margin-top: -24px;
	    }

	    &:last-child {
	        margin-bottom: -24px;
	    }
	}

	.testimonial {
	    padding: 52px 24px 24px;
	}

	.testimonials-shape-1 {
		bottom: auto;
		top: 250px;
	    left: calc(50% - 305px);

		svg {
			width: 400px;
			height: 400px;
		}
	}

	.testimonials-shape-2 {
		top: 170px;
	    left: calc(50% + 190px);
	}

	.testimonials-shape-3 {
		display: block;
		top: 570px;
	    left: calc(50% - 320px);
	}
}

@include media( '>large' ) {

	.testimonial {

		&:nth-child(odd) {
			top: 40px;
		}
	}
}
